@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Liter:wght@100..900&display=swap");

.outfit-regular {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.liter-regular {
  font-family: "Liter", serif;
  font-weight: 700;
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: hsl(212, 45%, 89%);
}
.attribution {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
main {
  display: flex;
  flex-direction: column;
  /* gap: 5em; */
}
.qr-container {
  display: flex;
  flex-direction: column;
  background: white;
  margin: auto;
  padding: 1em;
  border-radius: 3%;
  filter: drop-shadow(5px 15px 20px rgba(0, 0, 0, 0.1));
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 290px;
  gap: 1em;
  padding: 1.35em 0;
}
img {
  border-radius: 3%;
}

h1,
p {
  text-align: center;
  max-width: 90%;
  margin: 0;
  padding: 0;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.4rem;
}
p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
}

/* .demo {
  width: 1440px;
  height: 960px;
  max-width: 100%;
  position: absolute;
  z-index: 1000;
  opacity: 40%;
} */

/* .demo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
} */

/* Mobile styles */
@media screen and (max-width: 428px) {
  h1 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }
  .qr-container {
    max-width: 300px;
  }
}
